.Header {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.Header__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 375px) {
  .Header {
    padding: 2rem;
  }
}
